<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Geometrize</Name>
    <Version>1.0.0</Version>
    <Title>Geometrize Installer</Title>
    <Publisher>Sam Twidale</Publisher>
    <StartMenuDir>Geometrize</StartMenuDir>
    <TargetDir>@HomeDir@/Geometrize</TargetDir>
    <InstallerApplicationIcon>installericon</InstallerApplicationIcon>
    <InstallerWindowIcon>installericon</InstallerWindowIcon>
    <Logo>installerlogo.png</Logo>
    <ProductUrl>http://www.geometrize.co.uk/</ProductUrl>
    <ControlScript>installerscript.qs</ControlScript>
    <WizardStyle>Modern</WizardStyle>
</Installer>